		body { 
			background-color: beige;
			padding: 0; 
			margin: 0; 
			}
		.container-fluid { 
			background-color: beige;
			text-align: left;
			}
		.container { 
			background-color: beige;
			text-align: left;
			}
		 .row { 
			background-color: beige;
			text-align: left;
			}
		 .col { 
			background-color: beige;
			text-align: left;
			}
		.borderorange {
			border: 1px solid orange;
			}
		.imgsrc {
			width: 100%;
			}
		.nostyle {
			border:0;
			padding: 0;
			margin: 0;
			}
		.center { 
			text-align: center;
			}
		.basket {
			top:0;
			right:0;
			width: 7rem;
			font-size:12px;
			position:fixed;
			cursor:pointer;
			z-index:100000;
			border-radius:12px;
			opacity:0.6;
			}